/* 统一样式*/
*{margin: 0;padding: 0;}
body{
    font:14px/1 Arial,'Microsoft Yahei';
}
a{
    color: #333;
	text-decoration: none;
}
li{
	list-style: none;
}
/*公共类*/
.w1000{
	width: 1000px;
	margin: 0 auto;
}
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pr{
    position: relative;
}
/* 头部 */
.mfw-header .head-logo a{
    display: block;
    width: 136px;
    height: 40px;
    color: rgba(0,0,0,.0);
    background: url(../img/header-sprites.png) no-repeat;
    margin: 14px 25px 0 0;
}
.mfw-header .head-nav li{
    float: left;
}
.mfw-header .head-nav li a{
    display: block;
    height: 68px;
    line-height: 68px;
    color: #333;
    font-size: 16px;
    padding: 0 16px; 
}
.mfw-header .head-nav li.active a{
    color: #fff;
    background: #ff9d00;
}
.mfw-header .head-nav li a:hover{
    color: #FF9D00;
    border-bottom: 3px solid #FF9D00;
    height: 65px;
}
.mfw-header .head-loginArea{
    height: 26px;
    margin-top: 21px;
    font-size: 0px;
}
.mfw-header .head-loginArea .weibo-login,
.mfw-header .head-loginArea .qq-login,
.mfw-header .head-loginArea .wechat-login{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 6px;
    vertical-align: -8px;
    background: url(../img/header-sprites.png) no-repeat;
}
.mfw-header .head-loginArea .weibo-login{
    background-position: 0 -50px;
}
.mfw-header .head-loginArea .weibo-login:hover{
    background-position: 0 -80px;
}
.mfw-header .head-loginArea .qq-login{
    background-position: -30px -50px;
}
.mfw-header .head-loginArea .qq-login:hover{
    background-position: -30px -80px;
}
.mfw-header .head-loginArea .wechat-login{
    background-position: 0 -165px;
    margin-right: 10px;
}
.mfw-header .head-loginArea .wechat-login:hover{
    background-position: -30 -165px;
}
.mfw-header .head-loginArea a{
    color: #FF9D00;
    font-size: 14px;
}
.mfw-header .head-loginArea .split{
    color: #C9C9C9;
    font-size: 14px;
    padding: 0 10px;
}
/* 横幅广告 */
.mfw-banner{
    overflow: hidden;
    height: 487px;
}
.mfw-banner img{
    width: 100%;
}

/* 旅游菜单 */
.tour-menu{
    margin: 20px 0;
}
.tour-menu li{
    float: left;
    margin-right: 8px;
}
.tour-menu li:last-child{
    margin-right: 0;
}
.tour-menu li a{
    display: block;
    width: 154px;
    height: 55px;
    padding: 15px 0 0 6px;
}
.tour-menu li .tour-free{
    background: url(../img/tour-free.png);
    color: #CD4541;
}
.tour-menu li .tour-group{
    background: url(../img/tour-group.png);
    color: #87429E;
}
.tour-menu li .tour-local{
    background: url(../img/tour-local.png);
    color: #AE503C;
}
.tour-menu li .tour-flight{
    background: url(../img/tour-flight.png);
    color: #3C62B9;
}
.tour-menu li .tour-visa{
    background: url(../img/tour-visa.png);
    color: #648C61;
}
.tour-menu li .tour-ship{
    background: url(../img/tour-ship.png);
    color: #465CBE;
}
.tour-menu li a p{
    line-height: 1.5;
}
.tour-menu li a .title{
    font-size: 16px;
    font-weight: bold;
}
.tour-menu li a .subtitle{
    font-size: 12px;
}
/* 主要内容左 */
.sidebar{
    width: 260px;
    color: #666;
}
.sidebar .safety-tips{
    display: block;
}
.sidebar .safety-tips img{
    height: 30px;
}
.sidebar .container,.sidebar .safety-tips{
    margin-bottom: 30px;
}
.sidebar .container .title{
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}
.sidebar .container .title h2{
    color: #333;
    font-size: 18px;
    font-weight: normal;
}
.sidebar .container .title .more{
    color: #999;
    font-size: 12px;
}
.sidebar .container .title .more:hover{
    text-decoration: underline;
}
.sidebar .container .content h3{
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.sidebar .container .content h3 a{
    font-weight: normal;
    line-height: 40px;
}
.sidebar .container .content h3 a:hover{
    color: #FF9D00;
    text-decoration: underline;
}
.sidebar .container .content p{
    line-height: 20px;
}
.sidebar .container .content .picture{
    position: relative;
    display: block;
}
.sidebar .container .content .picture .mark{
    position: absolute;
    top: 7px;
    padding: 6px;
    background: #FF6262;
    font-size: 12px;
    color: #fff;
}
.sidebar .container .content .picture .mark i{
    position: absolute;
    top: 0;
    right: -5px;
    width: 0;
    height: 0;
    border: 12px solid #FF6262;
    border-left: 0;
    border-right: 5px solid transparent;
}
.sidebar .container .content h3 a{
    color: #FF9D00;
}
.sidebar .box-mfw-news ul{
    font-size: 12px;
    color: #666;
}
.sidebar .box-mfw-news ul li{
    height: 30px;
    line-height: 30px;
}
.sidebar .box-mfw-news ul li a:hover{
    text-decoration: underline;
}
/* 主要内容右 */
.main{
    width: 700px;
}
/* 导航栏 */
.main .travels-navbar{
    height: 36px;
    line-height: 36px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 20px;
    font-size: 18px;
}
.main .travels-navbar .write{
    width: 140px;
    border-radius: 4px;
    background: #FF9D00;
    color: #fff;
    text-align: center;
}
.main .travels-navbar .write:hover{
    background: #FF8A00;
}
.main .travels-navbar .write i{
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url(../img/index-sprites.png) no-repeat;
    vertical-align: -3px;
}
.main .travels-navbar a.current{
    color: #FF9D00;
    border-bottom: 3px solid #FF9D00;
}
.main .travels-navbar .hot,.main .travels-navbar .new{
    display: inline-block;
    padding-bottom: 7px;
}
.main .travels-navbar .navbar-l>a:hover{
    color: #FF9D00;
}
.main .travels-navbar .hot{
    width: 144px;
    padding: 0 13px 7px;
}
.main .travels-navbar .sift{
    position: absolute;
    left: 96px;
    top: 8px;
    width: 58px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    color: #666;
    font-size: 12px;
    text-align: center;
}
.main .travels-navbar .sift:hover{
    border: 1px solid #FF9D00;   
    background: #FF9D00;
    color: #fff;
}
.main .travels-navbar .sift:hover i{
    background: url(../img/index-sprites.png) no-repeat 0 -140px;
}
.main .travels-navbar .sift i{
    display: inline-block;
    width: 11px;
    height: 8px;
    background: url(../img/index-sprites.png) no-repeat 0 -130px;
}
/* 游记 */
.main .travels .container{
    padding: 15px 0;
}
.main .travels .container:hover{
    background: #F8F8F8;
}
.main .travels .container .wrapper{
    width: 455px;
}
.main .travels .container .wrapper .app{
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #FF9D00;
    border-radius: 10px;
    color: #FF9D00;
    font-size: 12px;
    text-align: center;
}
.main .travels .container .wrapper .app:hover .hide{
    display: block;
}
.main .travels .container .wrapper .app i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/index-sprites.png) no-repeat -170px 0;
    vertical-align: -3px;
}
.main .travels .container .wrapper .app .hide{
    position: absolute;
    top: 25px;
    right: 0;
    width: 125px;
    display: none;
}
.main .travels .container .wrapper h2{
    width: 360px;
    line-height: 26px;
    font-size: 18px;
    font-weight: normal;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.main .travels .container .wrapper .content{
    line-height: 20px;
    margin:10px 0 20px;
    color: #666;
    display: -webkit-box;   
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;  //这里是在第二行有省略号
}
.main .travels .container .wrapper .info>*{
    display: inline-block;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
}
.main .travels .container .wrapper .info-like em{
    height: 33px;
    line-height: 33px;
    color: #FF9D00;
    font-style: normal;
}
.main .travels .container .wrapper .info-like a{
    float: right;
    width: 37px;
    height: 33px;
    margin-left: 8px;
    background: url(../img/index-sprites.png) no-repeat -60px 0; 
}
.main .travels .container .wrapper .info-place{
    margin-right: 5px;
    color: #666;
}
.main .travels .container .wrapper .info-place a{
    color: #666;
}
.main .travels .container .wrapper .info-place i{
    float: left;
    width: 14px;height: 16px;
    margin: 8px 5px 0 0;
    background: url(../img/index-sprites.png) no-repeat 0 -50px;
}
.main .travels .container .wrapper .info-user{
    margin-right: 10px;
    color: #FF9D00;
}
.main .travels .container .wrapper .info-user img{
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}
.main .travels .container .wrapper .info-place a:hover,
.main .travels .container .wrapper .info-user:hover{
    color: #FF9D00;
    text-decoration: underline;
}
.main .travels .container .wrapper .info-visits{
    color: #999;
}
.main .travels .container .wrapper .info-visits i{
    float: left;
    width: 18px;height: 14px;
    margin: 10px 5px 0 0;
    background: url(../img/index-sprites.png) no-repeat -30px -50px;
}
/* 分页 */
.main .page{
    height: 24px;
    line-height: 24px;
    margin: 20px 0;
    font-size: 12px;
}
.main .page .count{
    margin-right: 10px;
    color: #999;
}
.main .page .current,.previous-page,.next-page{
    background: #FF9D00;
    color: #fff;
}
.main .page>*:not(.count){
    display: inline-block;
    padding: 0 7px;
    border-radius: 4px;
}
.main .page .page-num:hover{
    background: #EFEFEF;
}
/* 尾部部分 */
.footer{
    line-height: 22px;
    background: #3C3C3C;
    color: #C2C2C2;
    font-size: 12px;
}
.footer a{
    color: #C2C2C2;  
}
.footer a:hover{
    color: #fff;
}
/* 信息1 */
.foot-info{
    padding: 30px 0;
}
.foot-info dl{
    float: left;
    margin-right: 60px;
}
.foot-info dt{
    height: 30px;
    font-size: 14px;
}
.foot-info dd{
    line-height: 22px;
}
.foot-info .mfw-intro dd strong{
    color: #FF9D00;
    font-weight: normal;
}
.foot-info .travel-service{
    width: 135px;
}
.foot-info .travel-service dt{
    text-align: center;
}
.foot-info .travel-service ul{
    width: 170px;
}
.foot-info .travel-service li{
    width: 85px;
    float: left;
}
.foot-info .travel-service li:last-child{
    width: 120px;
}
.foot-info .about_us a.join,
.foot-info .travel-service a.travel-mall{
    color: #FF9D00;
}
.foot-info .qr-code li{
    float: left;
    width: 90px;
    margin-left: 40px;
    margin-top: 30px;
    text-align: center;
}
.foot-info .qr-code p{
    line-height: 16px;
}
/* 分享2 */
.foot-share{
    margin-bottom: 40px;
    font-size: 16px;
    text-align: center;
}
.foot-share dt{
    height: 30px;
}
.foot-share a{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 6px;
    background: url(../img/footer-sprite.png) no-repeat;
}
.foot-share .share-qweibo{
    background-position: -30px 0;
}
.foot-share .share-qzone{
    background-position: -60px 0;
}
/* 友情链接3 */
.foot-links{
    padding: 20px 0 20px 10px;
    border-top: 1px solid #575A5B;
    border-bottom: 1px solid #575A5B;
}
.foot-links a{
    margin-right: 10px;
}
/* 版权4 */
.foot-copyright{
    padding: 15px 0;
}
 .foot-logo{
    float: left;
    width: 136px;
    height: 30px;
    margin-right: 20px;
    background: url(../img/footer-sprite.png) no-repeat 0 -35px;
}
.foot-copyright img{
    vertical-align: -2px;
}
/* 安全5 */
.foot-safety{
    text-align: center;
    padding-bottom: 20px;
}
.foot-safety a{
    display: inline-block;
    width: 90px;
    height: 30px;
    margin: 0 7px;  
    background: url(../img/footer-sprite.png) no-repeat;
    
}
.foot-safety a:nth-child(1){
    background-position: 0 -69px;
}
.foot-safety a:nth-child(2){
    background-position: 0 -110px;
}
.foot-safety a:nth-child(3){
    background-position: 0 -150px;
}